:root {
    --accent: 255, 127, 0;
    --accent-light: 255, 180, 103;
    --accent-dark: 225, 110, 0;
    --accent-gradient: linear-gradient(45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%);
}

html {
    font-family: system-ui, sans-serif;
    background: #ffffff;
    background-size: 224px;
}

main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: rgb(120, 120, 120);
    font-size: 14px;
    line-height: 1.6;
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: rgb(251, 129, 4);
    color: #ffffff;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: rgb(251, 129, 4);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: rgb(251, 129, 4);
    color: #ffffff;
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin: 2em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 5px 5px;
    }
}