---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logoBioProject from './img/logo.png';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout title="Bio Project">
	<main>
		<Image src={logoBioProject} height="150" alt="Logo Bio Project" />
		<Navigation />
		<p>
			Ci potete contattare al numero di telefono 0522 548703 <br/>
			E all'indirizzo email <a href="mailto:bioproject.de@gmail.com">bioproject.de@gmail.com</a>
		</p>
		<div class="center">
			Ci potete trovare a Casalgrande in via Statale al n.37
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2841.713682611927!2d10.731534176776865!3d44.582426471073276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477ff9148ce68df1%3A0x7a55eab5dc70e725!2sBIO%20PROJECT%20INFISSI!5e0!3m2!1sit!2sit!4v1721913348081!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</main>
	<Footer />
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgb(120, 120, 120);
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.center {
		text-align: center;
		margin-left: auto;
  		margin-right: auto;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 35%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-light), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-dark), 12%);
		color: rgb(var(--accent-dark));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-dark));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
		card-color-background:white;
	}
</style>
