---
import Layout from '../layouts/Layout.astro';
import Modulo from '../components/Modulo.astro';
---

<Layout 
	titolo="Bio Project Srls - Case in legno, serramenti e bioedilizia - Sefvizio Pratiche Edilizie"
	descr="Contattaci per dubbi, chiarimenti o qualsiasi necessità relativa a pratiche edilizie. Siamo a tua disposizione per ogni evenienza.">
	<main>
		<p class="instructions">
			PRATICHE
		</p>
		<p>
			Ci occupiamo di:
			<ul>
				<li>Pratiche edilizie comunali per manutenzioni ordinarie e straordinarie, sanatoria abusi, ristrutturazioni di edifici residenziali e non</li>
				<li>Lavori di spostamento tavolati divisori, rifacimenti pavimentazioni, sostituzione serramenti, esecuzione di cappotti esterni</li>
				<li>Stesura Capitolati</li>
				<li>Computi metrici e preventivi di opere edili</li>
				<li>Rilievo di fabbricati con strumentazione elettronica per produzione piante, prospetti e sezioni utili alla presentazione delle pratiche agli Uffici preposti dei Comuni e al catasto</li>
				<li>Richieste abitabilità/agibilità di edifici</li>
			</ul>
		</p>
		<Modulo />
		
	</main>
</Layout>

<style>
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 35%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-light), 33%));
		padding: 1.5rem;
		border-radius: 8px;
		font-size: 1.2rem;
		color: #ffffff;
		font-weight: bold;
		text-align: center;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-dark), 12%);
		color: rgb(var(--accent-dark));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-dark));
	}
</style>
