---
import Layout from '../layouts/Layout.astro';

import ImgProg from '../components/ImgProg.astro';
const allPosts = await Astro.glob('./progettazione/*.mdx');
---

<Layout title="Bio Project">
	<main>
		<p class="instructions">
			PROGETTAZIONE
		</p>
		<ul role="list" class="link-card-grid">
			{allPosts.map((post) =>
					<a href={post.url}>
						<ImgProg 
							imagePath={post.frontmatter.preimg}
							altText={post.frontmatter.title}
							name={post.frontmatter.title}
						/>
					</a>
			)}
		</ul>
		<p>
			Compila il modulo per richiedere informazioni <br />
			<form action="https://docs.google.com/forms/d/e/1FAIpQLScunKMJst52Y_Mi45HW-nMcyJU__5PSCFS5H-ulB-_DjUUDBw/formResponse" method="post">
				<label>
				  Nome:
				  <input 
						 type="text" 
						 name="entry.958821813" 
						 aria-label="Nome o Azienda" 
						 placeholder="Nome e Cognome" 
						 id="name" 
						 required />
				</div>
				</label>
				<br />
				<label>
				  Email:
				  <input 
						 type="email" 
						 name="entry.381145308" 
						 aria-label="Email" 
						 placeholder="nome@mail.com" 
						 id="email" 
						 required />
				</label>
				<br />
				<label>
					Numero di telefono:
					<input  
						 type="text" 
						 name="entry.1288614241" 
						 aria-label="Telefono" 
						 placeholder="Telefono" 
						 id="telefono" 
						 required />
				  </label>
				<label>
				  Richiesta:
				</label>
				<br />
				<textarea id="richiesta" name="entry.1708826473" rows="5" cols="50" required />
				<br />
				<button>Invia</button>
			  </form>
		</p>
	</main>
</Layout>

<style>
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	a {
		text-decoration: none;
		color: rgb(var(--accent-dark));
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 35%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-light), 33%));
		padding: 1.5rem;
		border-radius: 8px;
		font-size: 1.2rem;
		color: #ffffff;
		font-weight: bold;
		text-align: center;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-dark), 12%);
		color: rgb(var(--accent-dark));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-dark));
	}
	.link-card-grid {
		text-align: center;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
		border: none;
		card-color-background:white;
	}
</style>
