---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

import logoSimar from './img/serramenti/logo_simar.png';
import logoPinto from './img/serramenti/logo_pinto.png';
import logoSchipani from './img/serramenti/logo_schipani.png';
---

<Layout title="Bio Project">
	<main>
		<p class="instructions">
			SERRAMENTI
		</p>
		<p>
			Seleziona uno dei nostri partner per visualizzare il relativo catalogo
		</p>
		<ul role="list" class="link-card-grid">
			<a href="https://www.pinto.srl/configuratore/" target="#new">
				<li class="card mx-auto my-3" style="width: 15rem;">
					<Image src={logoPinto} width="200" alt="Logo Pinto" class="card-img-top" />
					<div class="card-body text-center">
						<h6 class="card-title">Catalogo Pinto Srl</h6>
					</div>
				</li>
			</a>
			<a href="https://www.schipanisrl.com/prodotti" target="#new">
				<li class="card mx-auto my-3" style="width: 15rem;">
					<Image src={logoSchipani} width="200" alt="Logo Schipani" class="card-img-top" />
					<div class="card-body text-center">
						<h6 class="card-title">Catalogo Schipani Srl</h6>
					</div>
				</li>
			</a>
			<a href="https://www.simarsrl.it/" target="#new">
				<li class="card mx-auto my-3" style="width: 15rem;">
					<Image src={logoSimar} width="200" alt="Logo Simar" class="card-img-top" />
					<div class="card-body text-center">
						<h6 class="card-title">Catalogo Simar Srl</h6>
					</div>
				</li>
			</a>
		</ul>
		<p>
			Contattaci per richiedere un preventivo:
			<form action="https://docs.google.com/forms/d/e/1FAIpQLScunKMJst52Y_Mi45HW-nMcyJU__5PSCFS5H-ulB-_DjUUDBw/formResponse" method="post">
				<label>
				  Nome:
				  <input 
						 type="text" 
						 name="entry.958821813" 
						 aria-label="Full name" 
						 placeholder="Nome e Cognome" 
						 id="name" 
						 required />
				</div>
				</label>
				<br />
				<label>
				  Email:
				  <input 
						 type="email" 
						 name="entry.381145308" 
						 aria-label="Email" 
						 placeholder="yourname@mail.com" 
						 id="email" 
						 required />
				</label>
				<br />
				<label>
					Numero di telefono:
					<input  
						 type="text" 
						 name="entry.1288614241" 
						 aria-label="Telefono" 
						 placeholder="Telefono" 
						 id="telefono" 
						 required />
				  </label>
				<label>
				  Richiesta:
				</label>
				<br />
				<textarea id="richiesta" name="entry.1708826473" rows="5" cols="50" required />
				<br />
				<button>Invia</button>
			  </form>
		</p>
	</main>
</Layout>

<style>
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 35%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-light), 33%));
		padding: 1.5rem;
		border-radius: 8px;
		font-size: 1.2rem;
		color: #ffffff;
		font-weight: bold;
		text-align: center;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-dark), 12%);
		color: rgb(var(--accent-dark));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-dark));
	}
</style>
