---
const platform = "github";
const username = "withastro";
---

<footer>
<p>
    Bio Project s.r.l.s <br />
    Via Statale, 37 <br />
    42013 Casalgrande (RE) <br />
    C.F. e P.IVA 02985300355 <br />
    Codice SDI: 5RUO82D
</p>

</footer>

<style>
    p {
        text-align: center;
        size: 0.25rem;
    }
</style>