---
const platform = "github";
const username = "withastro";
---

<footer>
    <div class="center">
        <small>
            Bio Project s.r.l.s <br />
            Via Statale, 37 <br />
            42013 Casalgrande (RE) <br />
            Tel. <a class="link-secondary" href="tel:+39 0522 548703">+39 0522 548703</a> <br />
            Email : <a class="link-secondary" href="mailto:bioproject.de@gmail.com">bioproject.de@gmail.com</a> <br />
            C.F. e P.IVA 02985300355 <br />
            Codice SDI: 5RUO82D <br />
        </small>
    </div>

</footer>

<style>
    .center {
        text-align: center;
    }
</style>