---
const platform = "github";
const username = "withastro";
---

<footer class="mt-3 w-50 mx-auto">
    <hr style="border-top: 2px dashed rgb(251, 129, 4);" />
    <div class="center">
        <small>
            Bio Project S.r.l.s <br />
            Via Statale, 37 <br />
            42013 Casalgrande (RE) <br />
            Tel. <a class="link-secondary" href="tel:+39 0522 548703">+39 0522 548703</a> <br />
            Email : <a class="link-secondary" href="mailto:info@bio-project.it">info@bio-project.it</a> <br />
            C.F. e P.IVA 02985300355 <br />
            Codice SDI: 5RUO82D <br />
        </small>
    </div>

</footer>

<style>
    .center {
        text-align: center;
    }
</style>