---
const home = '/sito_bioproject';
import { Image } from 'astro:assets';
import logoBioProject from '/src/pages/img/logo.png';
---
<div class="nav-links">
  <Image src={logoBioProject} height="150" alt="Logo Bio Project" />
  <div class="nav-links">
    <a href="/sito_bioproject">Home</a>
    <a href="/sito_bioproject/serramenti">Serramenti</a>
    <a href="/sito_bioproject/progettazione">Progettazione</a>
    <a href="/sito_bioproject/pratiche">Pratiche</a>
    <a href="/sito_bioproject/lavori">Lavori</a>
    <a href="/sito_bioproject/contatti">Contatti</a>
  </div>
</div>