---
const home = '/sito_bioproject';
import { Image } from 'astro:assets';
import logoBioProject from '/src/pages/img/logo.png';
---
<div>
  <a href={home} class="logo" >
  <Image src={logoBioProject} height="150" alt="Logo Bio Project" />
  </a>
  <div class="nav-links">
    <a href={home}>Home</a>
    <a href={home + "/serramenti"}>Serramenti</a>
    <a href={home + "/progettazione"}>Progettazione</a>
    <a href={home + "/pratiche"}>Pratiche</a>
    <a href={home + "/lavori"}>Lavori</a>
    <a href={home + "/contatti"}>Contatti</a>
  </div>
</div>


<style>
  .logo:hover {
    text-decoration: none;
  }
</style>